body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

header {
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnSearch {
  background-color: black;
  outline: none;
}

.title {
  color: white;
}

.card {
  border: solid black 2px;
  margin: 20px 10px;
}

.recent__searches {
  border: solid black 2px;
}

.weather__group {
  margin-top: 15px;
}

.weather__details {
  font-size: 20px;
  padding: 10px 0;
}

.recent__searches {
  color: red;
  font-size: 25px;
  text-align: center;
}
